[submodule "scli"]
	path = scli
	url = https://github.com/nlink-jp/scli.git
[submodule "confl-cli"]
	path = confl-cli
	url = https://github.com/nlink-jp/confl-cli.git
[submodule "md-to-slack"]
	path = md-to-slack
	url = git@github.com:nlink-jp/md-to-slack.git
[submodule "splunk-cli"]
	path = splunk-cli
	url = https://github.com/nlink-jp/splunk-cli.git
