[submodule "scli"]
	path = scli
	url = https://github.com/nlink-jp/scli.git
[submodule "confl-cli"]
	path = confl-cli
	url = https://github.com/nlink-jp/confl-cli.git
[submodule "splunk-cli"]
	path = splunk-cli
	url = https://github.com/nlink-jp/splunk-cli.git
[submodule "gem-cli"]
	path = gem-cli
	url = https://github.com/nlink-jp/gem-cli.git
[submodule "llm-cli"]
	path = llm-cli
	url = https://github.com/nlink-jp/llm-cli.git
